.contenedorInicio {
    padding: 20px;
    padding-bottom: 80px; /* Espacio para el navbar fijo */
    background-color: #E9FFED;
    min-height: 100vh;
}
.headerInicio{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}
.imgUser{
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: #C4C4C4;
    object-fit: fill;  
}

.photoSkeleton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}