
.header {
    text-align: center;
    margin: 50px 0;
    color: var(--titulo-color);
}
.contenedorForgotPassword{
    padding: 25px;
    margin: auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    
}
.maxw{
    max-width: 302px;
    text-align: justify;
}