.navbarInicio {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin: 20px 0;
    gap: 10px;
    overflow: scroll;
}

.botonNav {
    background-color: white;
    border: 2px solid #e0e0e0;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    flex: 1;
}


.botonNavActivo {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.botonNavActivo:hover {
    background-color: #45a049;
    border-color: #45a049;
}