@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --titulo-color: rgb(0, 0, 0, 0.8);
  --login-anchor-color: #2F89FC;
}

.loginLink{
  color: var(--login-anchor-color);
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.font-weigth-bold{
  font-weight: bold;
}
.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

#root {
  min-height: 100vh;
  position: relative;
}